@model Education.Web.RegisterEntity
@{
    ViewBag.Title = "注册新账户";
}
@section HeaderStyle
{
    <link rel="stylesheet" href="@Url.Content("~/Content/login.css")" />
}


<div id="wrap-all">
    <div id="main">
        <div class="login-wrap" data-ng-controller="user_login_ctrl">

            <div data-minheight="58" class="single-panel clearfix" style="min-height: 561px;">
                <div class="single-panel-inner middle">
                    <div class="single-panel-header">
                        <h3>注册新用户</h3>
                    </div>
                    <div class="single-panel-body">
                        <div class="single-panel-section">
                            @using (Html.BeginForm("Register", "Account", FormMethod.Post, new { @class = "form-horizontal wt-form ng-invalid" }))
                            {
                                @Html.AntiForgeryToken()
                                <div class="form-group">
                                    <label class="col-xs-2 control-label">用户名：</label>
                                    <div class="col-xs-10">
                                        @Html.TextBoxFor(o => o.Account, new { @class = "form-control", placeholder = "你的用户名或常用邮箱地址" })
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-xs-2 control-label">密码：</label>

                                    <div class="col-xs-10">
                                        @Html.TextBoxFor(o => o.Password, new { @class = "form-control error", type = "password", placeholder = "最小长度6位" })
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-xs-2 control-label">确认密码：</label>

                                    <div class="col-xs-10">
                                        @Html.TextBoxFor(o=>o.ConfirmPassword,new{@class="form-control", type="password", placeholder="再输入一次密码"})
                                    </div>
                                </div>
                                if (string.IsNullOrWhiteSpace(ViewBag.ErrorMessage + "") == false)
                                {
                                    <div class="form-group">
                                        <label class="col-xs-2 control-label"></label>
                                        <div class="col-xs-10">
                                            <div class="alert alert-danger">
                                                <i class="icon-remove-sign mr_5"></i> @ViewBag.ErrorMessage
                                            </div>
                                        </div>
                                    </div>
                                }
                                <div class="form-group">
                                    <div class="col-xs-2"></div>
                                    <div class="col-xs-10">
                                        <button type="submit" class="btn btn-success" data-loading-text="注册中...">
                                            注册新用户
                                        </button>
                                    </div>
                                </div>
                            }
                        </div>

                    </div>
                    <div class="single-panel-footer">
                        <div class="pull-right">
                            <a href="@Url.Action("Login","Account")">登录</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>